* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: sans-serif;
}
.container {
    width: 500px;
    box-shadow: 0 0 10px #aaa;
    background: #fff;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    display: block;
    margin: 10px 0;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
span:last-child {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #bbb;
    background: #eee;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background: #ddd;
    border: 1px solid #aaa;
}

input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 11pt;
}
p {
    margin: 10px 0;
}
.header {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    text-align: right;
    box-shadow: 0 0 10px #aaa;
}
.header p {
    margin-right: 10px;
}
a {
    color: rgb(20, 65, 211);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}